* {
    background-image: url(https://marketplace.canva.com/EAFKmk8ad1Q/1/0/900w/canva-beige-and-green-aesthetic-boho-watercolor-leaves-phone-wallpaper-qmYKeK8cth8.jpg);
    color: crimson;
}
h1 {
    color:steelblue;
}